/* CSS code for Certifications */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1 {
    color: #4CAF50;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  strong {
    font-size: 1.2em;
    color: #4CAF50;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  